

.card {
    margin: 1rem;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    background: var(--white);
    border-radius: var(--border-radius);

    img {
        width: 100%;
    }

    .content {
        gap: 1.2rem;
        display: flex;
        flex-direction: column;
        padding: 2.5rem 2rem 2rem 2rem;
        span {
            color: var(--dark-grayish-blue);
        }
        .sub {
            font-size: .8rem;
            letter-spacing: .3rem;
        }
        h1 {
            font-size: 2rem;
            line-height: 2rem;
            font-family: 'Fraunces';
            color: var(--very-dark-blue);
        }
        p {
            font-size: 0.9rem;
            line-height: 1.5rem;
            color: var(--dark-grayish-blue);
        }
        .price {
            gap: 1rem;
            display: flex;
            align-items: center;
            strong {
                font-size: 2rem;
                font-family: 'Fraunces';
                color: var(--dark-cyan);
            }
            span {
                text-decoration: line-through;
            }
        }
    }

    button {
        width: 100%;
        border: none;
        display: flex;
        padding: 1rem 0;
        font-weight: 700;
        font-size: .9rem;
        color: var(--white);
        justify-content: center;
        gap: 1rem; outline: none;
        background: var(--dark-cyan);
        border-radius: var(--border-radius);
        img {
            width: 1rem;
        }
    }
}


@media screen and ( min-width: 375px ) {
    .card {
        display: flex;
        overflow: hidden;
        height: 28.125rem;
        max-width: 37.5rem;
        flex-direction: row;
        border-radius: var(--border-radius);
        .content {
            gap: 1.4rem;
        }
        img {
            width: auto;
            height: 100%;
        }
        button:hover {
            background: var(--dark-cyan-accent);
        }
    }
}